<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Network Monitor</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ManagerUI</display-name>
		<servlet-name>ManagerUI</servlet-name>
		<servlet-class>managerUI.ManagerUI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerUI</servlet-name>
		<url-pattern>/ManagerUI</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetPlottingDetails</display-name>
		<servlet-name>GetPlottingDetails</servlet-name>
		<servlet-class>userInterface.GetPlottingDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPlottingDetails</servlet-name>
		<url-pattern>/GetPlottingDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SetInfoUI</display-name>
		<servlet-name>SetInfoUI</servlet-name>
		<servlet-class>userInterface.SetInfoUI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetInfoUI</servlet-name>
		<url-pattern>/SetInfoUI</url-pattern>
	</servlet-mapping>
	<!-- <servlet> <servlet-name>NetworkManager</servlet-name> <servlet-class>manager.NetworkManager</servlet-class> 
		<load-on-startup>1</load-on-startup> </servlet> -->
</web-app>